html,
body {
  height: 100%;
}

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  position: relative;
}

body {
  color: var(--black);
  background: url('./bg.jpg') center center / 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
  height: auto;
  min-height: 650px;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.hero:nth-child(1) {
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  width: 400px;

  background-color: whitesmoke;
}

.form__title {
  font-size: 25px;
  color: tomato;
}

.form__select {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 120px 0;
  width: 100%;
}

.select {
  display: block;
  width: 100%;
  max-width: 120px;
  position: relative;
}

.form__button {
  width: 100%;
  color: #12b223;
  background-color: whitesmoke;
  padding: 10px 0;
  margin: 0 15px;
}

.form__button:hover {
  background-color: rgb(135, 212, 119);
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  font-size: 25px;
}

.check__title {
  font-size: 28px;
  color: rgb(228, 86, 86);
  margin-bottom: 15px;
}

.check__description {
  margin: 10px 0;
}

.check__oneMore {
  color: rgb(35, 160, 35);
  margin-top: 15px;
  text-decoration: none;
}

.check__oneMore:hover {
  color: rgb(36, 209, 180);
}